<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
        integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.js"
        integrity="sha256-JCDFk3Tc3BypchwzSjKv7pLwYQKAyuDRs5UrEnm8KyQ=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
    <div id="promo" ng-show="!fecha.expired" class="ng-hide" ng-cloak>
        <div class="promo-der">
            {{data.promo.texto}}
        </div>
        <div class="promo-der promo-time">
            <small>Dias</small>
            <div class="promo-cir">{{fecha.d}} </div>
            <small>Horas</small>
            <div class="promo-cir">{{fecha.h}} </div>
            <small>Minutos</small>
            <div class="promo-cir">{{fecha.m}} </div>
            <small>Segundos</small>
            <div class="promo-cir">{{fecha.s}} </div>
        </div>
        <div class="promo-der">
            <a ng-href="{{data.promo.accion}}" class="btn">{{data.promo.accionable}}</a>
        </div>
    </div>

    <div id="promo-small" ng-show="!fecha.expired" class="ng-hide" ng-cloak>
        <a ng-href="{{data.promo.accion}}" class="btn">{{data.promo.texto}}</a>
    </div>

    <section id="intro">
        <h1 ng-cloak>{{data.intro.titulo}}</h1>
        <div class="video-container">
            <video id="video" ng-src="{{data.intro.video}}" controls autoplay muted></video>
        </div>
    </section>

    <div class="float-block">
        <button id="pipButton" class="btn-rd">
            <span class="material-icons">
                play_circle_filled
            </span>
        </button>
    </div>

    <section>
        <h2 ng-cloak>{{data.galeria.titulo}}</h2>
        <div class="imagenX3-supercontainer">
            <div ng-repeat="i in data.galeria.imagenes" class="imagenX3-container">
                <!--
                <video class="videoX3" ng-src="{{opinion.video}}" controls width="300px"></video>
                -->
                <img class="videoX3" ng-src="{{i.imagen}}" width="320px">
                <q ng-cloak> {{i.descripcion}} </q>
                <p class="opinion" ng-cloak> {{i.autor}}</p>
            </div>
        </div>
    </section>

    <section class="img-section">
        <div class="card">
            <p ng-cloak>{{data.presentacion.producto.texto}}</p>
            <img ng-src="{{data.presentacion.producto.imagen}}" width="300px" alt="">
            <a ng-href="{{data.presentacion.accion}}" class="btn-green jump">{{data.presentacion.accionable}}</a>
        </div>
        <div class="card">
            <p ng-cloak>{{data.presentacion.comentarios.texto}}</p>
            <img ng-src="{{data.presentacion.comentarios.imagen}}" width="300px" alt="">
        </div>
    </section>

    <!--
    <section class="card-section">
        <div class="card">
            <h2>{{data.contenido.titulo}}</h2>
            <div class="card-text" ng-repeat="intro in data.contenido.introduccion">
                {{intro}}
            </div>
            <div class="card-title">
                {{data.contenido.oportunidades.presentacion}}
            </div>
            <ul class="card-items">
                <li ng-repeat="li in data.contenido.oportunidades.lista" class="card-item">
                    {{li}}
                </li>
            </ul>
            <div class="card-text">{{data.contenido.oportunidades.destacado}}</div>
            <div class="card-text">{{data.contenido.oportunidades.resumen}}</div>

            <div class="card-text" ng-repeat="res in data.contenido.resumen">{{res}}</div>


        </div>
    </section>
    -->

    <section class="card-section">
        <div class="card">
            <div class="card-title" ng-cloak>
                {{data.caracteristicas.descripcion}}
            </div>
            <ul class="card-items">
                <li ng-repeat="item in data.caracteristicas.lista" class="card-item">
                    <b>{{item.destacado}}</b>
                    <small>{{item.texto}}</small>
                </li>
            </ul>
        </div>
    </section>

    <section class="card-section">
        <div class="card">
            <div class="card-text">
                {{data.publicidad.titulo}}
            </div>
            <a ng-href="{{data.publicidad.accion}}" class="btn-green jump">{{data.publicidad.accionable}}</a>
        </div>
    </section>

    <section class="card-section" id="reasons">
        <div class="card">
            <h2>
                {{data.motivos.titulo}}
            </h2>
            <div ng-repeat="descripcion in data.motivos.descripcion">
                <div class="card-text">{{descripcion}}</div>
            </div>
            <b class="card-text">{{data.motivos.destacado}}</b>
            <div class="card-title">
                {{data.motivos.subtitulo}}
            </div>
            <div ng-repeat="presentacion in data.motivos.presentacion">
                <div class="card-text">{{presentacion}}</div>
            </div>
            <ol class="card-items-num">
                <li ng-repeat="motivo in data.motivos.lista" class="card-item">
                    {{motivo}}
                </li>

            </ol>
            <a ng-href="{{data.motivos.accion}}" class="btn-green jump">{{data.motivos.accionable}}</a>
        </div>
    </section>
    <section class="card-section">
        <div class="card yellow-card">
            <h2>
                {{data.garantia.titulo}}
            </h2>
            
            <div ng-repeat="descripcion in data.garantia.descripcion">
                <div class="card-text">{{descripcion}}</div>
            </div>
            
            <div class="card-title yellow-card-title">
                {{data.garantia.texto.titulo}}
            </div>

            <img src="img/guarantee.png" alt="" width="200px">
            
            <div ng-repeat="descripcion in data.garantia.texto.descripcion">
                <div class="card-text">{{descripcion}}</div>
            </div>

            <ul class="card-items" ng-repeat="item in data.garantia.texto.lista">
                <li class="card-item">{{item}}</li>
            </ul>

            <div class="card-text">{{data.garantia.texto.conclusion}}</div>
            <b class="card-text">{{data.garantia.texto.importante}}</b>
            

            <div ng-repeat="descripcion in data.garantia.importante.descripcion">
                <div class="card-text">{{descripcion}}</div>
            </div>
            <div class="card-title yellow-card-title">
                {{data.garantia.agradecimiento.titulo}}
            </div>
            <div class="card-text"> {{data.garantia.agradecimiento.descripcion}}</div>
            <img ng-src="{{data.garantia.agradecimiento.foto}}" width="315px" class="img-me" alt="">
            <div class="card-text">{{data.garantia.agradecimiento.texto}}</div>

            <a ng-href="{{data.garantia.accion}}" class="btn-green jump">{{data.garantia.accionable}}</a>
        </div>
    </section>

    <section class="card-section">

        <h2>{{data.bonus.titulo}}</h2>
        <p class="card-title">{{data.bonus.descripcion}}</p>
        <div class="card" ng-repeat="producto in data.bonus.productos">
            <img ng-src="{{producto.imagen}}" alt="" width="300px">
            <b class="card-text">{{producto.texto}}</b>
            <div class="card-text">{{producto.descripcion}}</div>
        </div>
    </section>

    <footer>
        <p>{{data.final.nombre}}</p>
        <small>
            {{data.final.descripcion}}
        </small>
        <hr>
        <small>
            {{data.final.direccion}}
        </small>
    </footer>

    <script src="script.js"></script>
</body>

</html>