<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
        integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body ng-app="myApp" ng-controller="myController">
    <section id="intro">
        <h1>{{data.intro.titulo}}</h1>
        <div class="video-container">
            <video id="video" ng-src="{{data.intro.video}}" controls autoplay muted></video>
        </div>
    </section>
    <div class="float-block">
        <button id="pipButton" class="btn-rd">
            <span class="material-icons">
                play_circle_filled
            </span>
        </button>
    </div>

    <section>
        <h2>{{data.videos.titulo}}</h2>
        <div class="videoX3-supercontainer">
            <div ng-repeat="opinion in data.videos.opiniones" class="videoX3-container">
                <video class="videoX3" ng-src="{{opinion.video}}" controls width="300px"></video>
                <q> {{opinion.descripcion}} </q>
                <p class="opinion"> {{opinion.autor}}</p>
            </div>
        </div>
    </section>

    <section class="img-section">
        <div class="card">
            <p>{{data.presentacion.producto.texto}}</p>
            <img src="img/audiobook.jpg" width="300px" alt="">
            <a ng-href="{{data.presentacion.accion}}" class="btn-green jump">{{data.presentacion.accionable}}</a>
        </div>
        <div class="card">
            <p>{{data.presentacion.comentarios.texto}}</p>
            <img ng-src="{{data.presentacion.comentarios.imagen}}" width="300px" alt="">
        </div>
    </section>

    <section class="card-section">
        <div class="card">
            <div class="card-title">
                {{data.caracteristicas.descripcion}}
            </div>
            <ul class="card-items">
                <li ng-repeat="item in data.caracteristicas.lista" class="card-item">
                    {{item}}
                </li>
            </ul>
        </div>
    </section>

    <section class="card-section">
        <div class="card">
            <div class="card-text">
                {{data.publicidad.titulo}}
            </div>
            <a ng-href="{{data.publicidad.accion}}" class="btn-green jump">{{data.publicidad.accionable}}</a>
        </div>
    </section>

    <section class="card-section" id="reasons">
        <div class="card">
            <h2>
                {{data.motivos.titulo}}
            </h2>
            <div class="card-text">
                {{data.motivos.descripcion}}
            </div>
            <div class="card-title">
                {{data.motivos.subtitulo}}
            </div>
            <div class="card-text">
                {{data.motivos.presentacion}}
            </div>
            <ol class="card-items-num">
                <li ng-repeat="motivo in data.motivos.lista" class="card-item">
                    {{motivo}}
                </li>
    
            </ol>
            <a ng-href="{{data.motivos.accion}}" class="btn-green jump">{{data.motivos.accionable}}</a>
        </div>
    </section>
    <section class="card-section">
        <div class="card yellow-card">
            <h2>
                {{data.garantia.titulo}}
            </h2>
            <div class="card-text">
                {{data.garantia.descripcion}}
            </div>
            <div class="card-title yellow-card-title">
                {{data.garantia.importante.titulo}}
            </div>
            <img src="img/guarantee.png" alt="" width="200px">
            <div class="card-text">
                {{data.garantia.importante.descripcion}}
            </div>
            <card class="card-title yellow-card-title">
                {{data.garantia.agradecimiento.titulo}}
            </card>
            <div class="card-text"> {{data.garantia.agradecimiento.descripcion}}</div>
            <img ng-src="{{data.garantia.agradecimiento.foto}}" width="315px" class="img-me" alt="">
            <div class="card-text">{{data.garantia.agradecimiento.texto}}</div>
            
            <a ng-href="{{data.garantia.accion}}" class="btn-green jump">{{data.garantia.accionable}}</a>
        </div>

    </section>

    <footer>
        <p>{{data.final.nombre}}</p>
        <small>
            {{data.final.descripcion}}
        </small>
        <hr>
        <small>
            {{data.final.direccion}}
        </small>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.js" integrity="sha256-JCDFk3Tc3BypchwzSjKv7pLwYQKAyuDRs5UrEnm8KyQ=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="app.js"></script>
</body>

</html>