@charset "utf-8";

/* CSS Estilo  */

.navbar-default {
	border:hidden;
}

.navbar{
	margin:0px;
	border:hidden;
}

.nav-principal{
	/*#A2D9F7*/
	background-color:#03a9f4;
	border:hidden;
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav a{
	color: white;
	font-size: 20px;
}

.nav a:hover{
	color: #01579b;
}
.nav>li>a:hover{
	background-color: white;
}

.nav .active{
	background-color:#01579b;
	border-radius: 3px;;
}

@font-face {
     font-family: fuente-cuerpo;
     src: url(../fonts/Roboto-Regular.ttf);
}

body{
	background-color: #e6e6e6;
	font-family: Helvetica,fuente-cuerpo, Times, serif;
}

.nav-pills>li>a{
	background-color: #03a9f4;
	color:rgb(249,255,255);
	margin:15px;
	padding: 5px;
	text-align: center;
}

.nav-pills>li>a:hover{
	background-color: #01579b;
	color:rgb(249,255,255);
	
}

.texto-principal{
	background-color: #fdfdfd;
	font-size: 15px;
}

.segundo-nav{
	background-color:#81d4fa;
}

.cuadro{
	
	background-color: inherit;
}

/* Columnas tamaños iguales - Parte I	*/
.row {
  overflow: hidden; 
}
/* Columnas tamaños iguales - Parte II	*/
[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.logos{
	font-size: 10px;
	color:white;
	background-color: #29b6f6;
	  
}
.row .logos{
	margin-top:7%; 
	margin-bottom:7%;	
}

figcaption{
	margin:5px;
}

p{
	text-align: justify;
}

.icon-bar{
	background-color: #00A1E6;

}

.navbar-header button{
	
	background-color: white;
}

.row-titulo{
	background-color: #eff9fe;
	color: white;
	 
}

@font-face {
     font-family: fuente-titulo;
     src: url(../fonts/Lato-Black.ttf);
}

@font-face{
	font-family: fuente-headers;
	src: url(../fonts/Lato-Bold.ttf);
}

.page-header{
	color:#01579b;
	font-family: fuente-titulo;

}


br{
	color: transparent;
}

.panel-heading>h4{
	color: #01579b;
	font-family: fuente-headers;
}
.panel-info>.panel-heading{
	background-color: #f6fbff;
}

blockquote{
font-size: 90%;
}

.divisor{
	border: 1px solid gray;
}

.google-maps{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
.google-maps iframe{
	position: absolute;
	top:0;
	left:0;
	width: 100% !important;
	height: 100% !important;
	
}

.alert-danger{
	background-color: #FF9E80;
}


.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    
}