<section id="detalla" class="w-100 h-100">
    <h1 class="text-center display-3"> Pedidos en Mesa {{num}}</h1>
    <div class="container-fluid">
        <div class="col-12">
            <form class="container-fluid row input-group-lg">
                <select class="custom-select col-2" ng-model="cantidad" required>
                    <option value="" disabled> Eligir cantidad </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <select class="custom-select col-5" ng-model="productos[$index]" required>
                    <option value="" disabled> Eligir producto </option>
                    <option ng-repeat="p in productos" ng-value="p">
                        {{p.productoNombre}} | Precio: $ {{p.Precio}} | Disponibles: {{p.CantidadDisponible}}
                    </option>
                </select>

                <button type="submit" class="btn btn-primary col-4"
                    ng-disabled="productos[$index]==null || cantidad==null" ng-click="BtnClickB($index, cantidad)">
                    <i class="fas fa-cart-plus"></i>
                </button>
                <br>
            </form>
        </div>

        <ul class="col-12 col-xs-12 col-ms-12">
            <i> Mis Pedidos </i>
            <li class="list-group-item list-group-item-light flex-column"
                ng-repeat="d in detalles | orderBy:'-FechaDetalleOrden'">
                <div class="d-flex w-100 justify-content-between">
                    <p class="col-3"><span class="badge badge-dark">{{d.Cantidad}} </span>
                        {{d.ProductoNombre}} </p>
                    <!--
                    <small>{{d.FechaDetalleOrden | date:'medium'}}</small>
                    -->
                    <p>{{enMinutos(d.FechaDetalleOrden+'Z')}}</p>
                    <p>{{d.Estado}} </p>
                    <!--
                    <p>SubTotal: ${{d.Precio*d.Cantidad}}</p>
                    -->
                    <p class="btn-group" role="group">
                        <button type="button" class="btn btn-warning" ng-click="BtnCambiarEstadoD(d.Id,2)">
                            <i class="fas fa-mortar-pestle"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="BtnCambiarEstadoD(d.Id,3)">
                            <i class="fas fa-shoe-prints"></i>
                        </button>
                        <button type="button" class="btn btn-success" ng-click="BtnCambiarEstadoD(d.Id,4)">
                            <i class="fas fa-concierge-bell"></i>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="BtnCambiarEstadoD(d.Id,0)">
                            <i class="fas fa-ban"></i>
                        </button>
                    </p>
                    <!--
                        - EnPreparacion=2
                        - EnCamino=3
                        - Servido=4
                        - Cancelado=0
                    -->
                </div>
            </li>
        </ul>
</section>