<section id="detalla" class="full">
    <h1 class="text-center display-3"> Pedidos en Mesa {{num}}</h1>
    <div class="container-fluid">

        <form class="container-fluid input-group-lg">
            <select class="custom-select col-lg-3 col-sm-12" ng-model="cantidad" required>
                <option value="" disabled> Eligir cantidad </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select class="custom-select col-lg-5 col-sm-12" ng-model="productos[$index]" required>
                <option value="" disabled> Eligir producto </option>
                <option ng-repeat="p in productos" ng-value="p" ng-show="p.CantidadDisponible >0">
                    {{p.productoNombre}} | Precio: $ {{p.PrecioVentaCliente}} | Disponibles: {{p.CantidadDisponible}}
                </option>
            </select>

            <button type="submit" class="btn btn-primary btn-lg col-lg-3 col-sm-12"
                ng-disabled="productos[$index]==null || cantidad==null" ng-click="BtnClickB($index, cantidad)">
                <i class="fas fa-cart-plus"></i>
            </button>
            <br>
        </form>

        <div class="container-fluid">
            <div class="table-responsive" ng-show="detalles.length>0">
                <table class="table table-striped">
                    <i> Mis Pedidos </i>
                    <tbody>
                        <tr>
                            <th scope="col">Pedidos</th>
                            <th scope="col">Tiempo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        <tr ng-repeat="d in detalles | orderBy:'-FechaDetalleOrden'">

                            <td>
                                <span class="badge badge-dark">{{d.Cantidad}} </span>
                                {{d.ProductoNombre}}
                            </td>
                            <!--
                    <small>{{d.FechaDetalleOrden | date:'medium'}}</small>
                    -->
                            <td>{{enMinutos(d.FechaDetalleOrden+'Z')}}</td>
                            <td>{{d.Estado}} </td>
                            <!--
                    <p>SubTotal: ${{d.Precio*d.Cantidad}}</p>
                    -->
                            <td class="btn-group" role="group">
                                <button type="button" class="btn btn-warning btn-lg"
                                    ng-click="BtnCambiarEstadoD(d.Id,2)">
                                    <i class="fas fa-mortar-pestle"></i>
                                </button>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    ng-click="BtnCambiarEstadoD(d.Id,3)">
                                    <i class="fas fa-shoe-prints"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-lg"
                                    ng-click="BtnCambiarEstadoD(d.Id,4)">
                                    <i class="fas fa-concierge-bell"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-lg"
                                    ng-click="BtnCambiarEstadoD(d.Id,0)">
                                    <i class="fas fa-ban"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="detalles.length==0">
                <h2>
                    Aún no hay pedidos realizados
                </h2>
            </div>
        </div>
</section>