@import url('https://fonts.googleapis.com/css?family=Satisfy');

html, body{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    color: white;
    background-color: #292623;
}
.jumbotron-fluid{
    background-image: url('images/jumbotron.jpg');
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Satisfy', cursive;
}

section{
    font-size: 1.5rem;
    padding-top:40px;
    padding-bottom: 40px;
}

#detalla{
    background-color: lightblue;
}

#paga{
    background-color: darkslategrey;
}