@import url('https://fonts.googleapis.com/css?family=Satisfy');

html, body{
    min-height: 100%;
    overflow-x: hidden;
}

body{
    
    color: white;
    background-color: #292623;
}
.jumbotron-fluid{
    background-image: url('images/jumbotron.jpg');
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ordenes{
    color:#e8e1e1;
    text-shadow: 2px -1px 20px black;
}

.facturacion{
    background-image: url('images/calc.jpg');
    color: whitesmoke;
    text-shadow: 2px -1px 5px green;
}

canvas{
    width: 100%;
    height:auto;
}


.inventario{
    background-image: url('images/cocina.jpg');
    background-color: rgb(58, 43, 43);
    color:#e8e1e1;
    text-shadow: 2px -1px 10px black;
}

h1,h2{
    font-family: 'Satisfy', cursive;
}

section{ 
    padding-top:10px;
    padding-bottom: 10px;
}

td{
    font-size:1.25rem;
}

#detalla{
    background-color: lightblue;
}

#paga{
    background-color: darkslategrey;
}
li{
    color:lightslategrey;
}

#grafica{
    background-color: cornsilk;
}
.full{
    min-width: 100%;
    min-height: 100vh;
}


@media (max-width: 600px) {
    table, thead, tbody, th, td, tr{
        display: block;
    }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
}