<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1">
    <title>Ordenar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilo.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
</head>

<body ng-app="app">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid ordenes">
            <h1 class="display-2">Buscando mesa</h1>
            <h2 class="display-4">Registrar Orden</h2>
        </div>
    </div>

    <!--        Sección Orden       -->
    <section class="full orden" id="orden">
        <h1 class="text-center display-3"> Ocupar una mesa </h1>
        </br>
        <div class="container-fluid" ng-controller="ctrlOrden">
            <!-- Ocupar mesa -->

            <form class="container-fluid input-group-lg" name="formMesa">
                <select class="custom-select col-lg-8 col-sm-12" required ng-model="mesas[$index]">
                    <option value="" disabled> Eligir una mesa </option>
                    <option ng-repeat="m in mesas" ng-value="m" ng-show="{{!m.Ocupada}}">
                        Mesa #{{m.MesaNumero}}. Cantidad de sillas: {{m.CantidadSillas}}
                    </option>
                </select>

                <button type="submit" class="btn btn-primary col-lg-3 col-sm-12 btn-lg" ng-click="BtnClick($index)"
                    ng-disabled="mesas[$index]==null">
                    <i class="far fa-calendar-plus"></i>
                </button>
            </form>
            <br>

            <!--Mesas ocupadas-->
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-striped table-dark">
                        <i> Mesas ocupadas </i>
                        <tbody>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tiempo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            <tr ng-repeat="o in ordenes | orderBy:'-FechaOrden'">

                                <td class="">Mesa: {{o.MesaNumero}}</p>
                                    <!--
                        <small>{{o.FechaOrden+'Z'| date:"dd MMM yy hh:mm a"}}</small>
                        -->
                                <td> {{enMinutos(o.FechaOrden+'Z')}}</p>
                                <td class="btn-group" role="group">
                                    <a href="#!detalla/{{o.Id}}/{{o.MesaNumero}}?scrollTo=detalla"
                                        class="btn btn-primary btn-lg" alt="Ordenar">
                                        Ordenar
                                        <i class="fas fa-clipboard-list"></i>
                                    </a>

                                    <a href="#!paga/{{o.Id}}/{{o.MesaNumero}}?scrollTo=paga"
                                        class="btn btn-success btn-lg" alt="Pagar">
                                        Pagar
                                        <i class="fas fa-dollar-sign"></i>
                                    </a>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="ng-view w-100 h-100" autoscroll="false"></div>

    <script>
        const app = angular.module('app', ['ngRoute']);
        //=================== RUN =======================
        app.run(function ($rootScope, $location, $anchorScroll, $routeParams) {
            $rootScope.$on('$routeChangeSuccess', function (newRoute, oldRoute) {
                $location.hash($routeParams.scrollTo);
                $anchorScroll();
            });
        })
        //=================== ORDEN =======================
        app.controller('ctrlOrden', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
            // Traer Mesas
            function getMesas() {
                $http.get("https://buscandomesa.azurewebsites.net/API/MesaAPI/MesasDisponibles?localID=7cf4dc70-9719-40ba-9dda-00f2f2769af4")
                    .then(function (response) {
                        $scope.mesas = response.data;
                    })
            }
            getMesas();

            // Código para traer data de minutos/horas 
            var reloj = () => { $scope.ahora = Date.now(); }
            reloj();
            $interval(reloj, 1000);

            function getFecha(fecha) {
                let fechaAnterior = new Date(fecha);
                let fechaActual = $scope.ahora;
                let retorno = "";
                minutos = ~~(Math.abs(fechaActual - fechaAnterior) / (1000 * 60));

                if (minutos > 120) { retorno = `Hace ${~~(minutos / 60)} horas` }
                else { retorno = `Hace ${minutos} minutos` }

                return retorno;
            }

            $scope.enMinutos = function (fecha) {
                return getFecha(fecha);
            }


            // Traer Ordenes
            function getOrdenes() {
                $http.get("https://buscandomesa.azurewebsites.net/API/ORDENAPI?LocalId=7cf4dc70-9719-40ba-9dda-00f2f2769af4&pagado=false")
                    .then(function (response) {
                        $scope.ordenes = response.data;
                        console.log("traer datos");
                    })
            }
            /*
            $interval(function() {
                getOrdenes();
            },5000);
            */
            getOrdenes();

            $scope.getDateTime = new Date();

            // Agregar Orden
            $scope.BtnClick = function (index) {
                let date = new Date();
                let jsonDate = date.toJSON();
                var post = $http({
                    method: 'POST',
                    url: `https://buscandomesa.azurewebsites.net/API/OrdenAPI?fechaOrden=${jsonDate}&mesaNumero=${$scope.mesas[index].MesaNumero}&MesaId=${$scope.mesas[index].MesaId}`,

                }).then(function successCallback(response) {
                    //console.log(response);
                    getMesas();
                    getOrdenes();
                }, function errorCallback(response) {
                    alert("Algo ha salido mal. Por favor, intenta de nuevo");
                    //console.log(response);
                });
            }
        }])
        //=================== RUTAS =======================
        app.config(function ($routeProvider) {
            $routeProvider
                .when("/detalla/:id/:num", {
                    templateUrl: "detalla.html",
                    controller: 'ctrlDetalle'
                })
                .when("/paga/:id/:num", {
                    templateUrl: "paga.html",
                    controller: 'ctrlPago'
                })
        });
        //=================== DETALLE =======================
        app.controller('ctrlDetalle', function ($scope, $http, $routeParams, $interval) {
            $scope.id = $routeParams.id;
            $scope.num = $routeParams.num;

            function ActualizarFecha() {
                let fecha = new Date();
                $scope.date = fecha;
                //fecha.toJSON();
            }

            $interval(ActualizarFecha, 1000);


            // Código para traer data de minutos/horas (para refactoring)
            var reloj = () => { $scope.ahora = Date.now(); }
            reloj();
            $interval(reloj, 1000);

            function getFecha(fecha) {
                let fechaAnterior = new Date(fecha);
                let fechaActual = $scope.ahora;
                let retorno = "";
                minutos = ~~(Math.abs(fechaActual - fechaAnterior) / (1000 * 60));

                if (minutos > 120) { retorno = `Hace ${~~(minutos / 60)} horas` }
                else { retorno = `Hace ${minutos} minutos` }

                return retorno;
            }

            $scope.enMinutos = function (fecha) {
                return getFecha(fecha);
            }

            function getDetalles(id) {
                $http.get(`https://buscandomesa.azurewebsites.net/API/OrdenDetalleAPI?ordenID=${id}`)
                    .then(function (response) {
                        $scope.detalles = response.data;
                        //console.log("detalles",response.data);
                    })
            }

            function getProductos() {
                $http.get('https://buscandomesa.azurewebsites.net/API/ProductoAPI?LocalId=7cf4dc70-9719-40ba-9dda-00f2f2769af4')
                    .then(function (response) {
                        $scope.productos = response.data;
                    })
            }
            getDetalles($scope.id)
            getProductos();

            $scope.BtnClickB = function (index, cant) {
                let date = new Date();
                let jsonDate = date.toJSON();
                let post = $http({
                    method: 'POST',
                    url: `https://buscandomesa.azurewebsites.net/API/OrdenDetalleAPI?ordenID=${$scope.id}&productoID=${$scope.productos[index].Id}&fechaDetalle=${jsonDate}&cantidad=${cant}`,

                }).then(function successCallback(response) {
                    getDetalles($scope.id)
                    getProductos();
                }, function errorCallback(response) {
                    alert("Algo ha salido mal. Por favor, intenta de nuevo");
                });
            }

            $scope.BtnCambiarEstadoD = function (id, estado) {
                let post = $http({
                    method: 'POST',
                    url: `https://buscandomesa.azurewebsites.net/API/OrdenDetalleAPI?detalleOrdenId=${id}&estado=${estado}`,
                }).then(function successCallback(response) {
                    //console.log(response.data)
                    getDetalles($scope.id)
                }, function errorCallback(response) {
                    alert("Algo ha salido mal. Por favor, intenta de nuevo");
                });
            }

        })
        //=================== PAGAR =======================
        app.controller('ctrlPago', function ($scope, $http, $routeParams, $location, $window) {
            $scope.Id = $routeParams.id;

            $scope.num = $routeParams.num;
            var subtotal = 0;
            function getDetallesPago(id) {
                $http.get(`https://buscandomesa.azurewebsites.net/API/OrdenDetalleAPI?ordenID=${id}`)
                    .then(function (response) {
                        $scope.detallesP = response.data;
                        for (det of $scope.detallesP) {
                            if (det.Estado != 'Cancelado') {
                                subtotal += det.Precio * det.Cantidad;
                            }
                        }
                        $scope.aPagar = subtotal;
                    })
            }

            function getOrden(id) {
                $http.get(`https://buscandomesa.azurewebsites.net/API/ORDENAPI?ordenId=${id}`)
                    .then(function (response) {
                        $scope.ordenP = response.data;
                    })
            }
            getOrden($scope.Id);
            getDetallesPago($scope.Id);
            $scope.BtnPagar = function () {
                let date = new Date();
                let jsonDate = date.toJSON();
                let post = $http({
                    method: 'POST',
                    url: `https://buscandomesa.azurewebsites.net/API/ORDENAPI?ordenId=${$scope.Id}&fechaPagado=${jsonDate}&totalPagado=${$scope.aPagar}`,
                }).then(function successCallback(response) {
                    //$window.location.reload();
                    //window.history.back();
                    //$window.location.reload();
                    getOrden($scope.Id);
                    $location.url('/');
                    $window.location.reload();

                }, function errorCallback(response) {
                    alert("Algo ha salido mal. Por favor, intenta de nuevo");
                });
            }

        })

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>