<section id="paga">
    <h1 class="text-center"> Pagar cuenta de mesa {{num}} </h1>
    <div class="container-fluid">

        <div class="col-12">
            <h4>Total a Pagar: $ {{aPagar}}</h4>
            <li class="list-group-item"
                ng-class="d.Estado!='Cancelado'?'list-group-item-success':'list-group-item-danger'"
                ng-repeat="d in detallesP">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><span class="badge badge-dark">{{d.Cantidad}} </span>
                        {{d.ProductoNombre}} </h6>
                    <small>Estado: {{d.Estado}} </small>
                    <small>SubTotal: <b>${{d.Precio*d.Cantidad}}</b></small>
            </li>
            <button class="btn btn-primary" ng-click="BtnPagar()" ng-show="!ordenP.Pagado">Confirmar Pago</button>
            <div class="alert alert-success" role="alert" ng-show="ordenP.Pagado">
                La cuenta ha sido pagada. Gracias
            </div>
        </div>
    </div>
</section>